[Desktop Entry]
Name=Dune settings
Name[fr]=Configuration de Dune
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Icon=dune
Exec=dune-config
Categories=Settings;


